doctype html
html
    head
        title= `${title}`
        link(rel="stylesheet", type="text/css", href="/css/bootstrap.min.css")
        link(rel="stylesheet", type="text/css", href="/css/styles.css")
    body
        div.containter.listing-reg
            h1 My Amazing App

            block content    