doctype html
html
    head
        link(rel='preconnect' href='https://fonts.gstatic.com')
        link(href='https://fonts.googleapis.com/css2?family=Sacramento&display=swap' rel='stylesheet')
        link(rel='StyleSheet' href='css/styles.css' type='text/css')
body
    header
        nav
            ul
                li
                    a(href='/') Home
                li |
                li
                    a(href='#') Blog
            ul.right
                li
                    a(href='/register') Register
    main
        section#intro-text
            span Simple Kitchen
            h3 Simple &amp; Comforting Recipes All Year Round
        section#registerform
            h2 Register to subcribe
            block content
    footer &copy; Copyright 2021